h1 {
    text-align: center;
    color: green;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #f6f7ba;
    margin-bottom: 0.3em;

}

.search{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

body{
background-color: lightgoldenrodyellow;
zoom: 1.5;
}

#myInput{
    width: 60%;
    outline: none;
    border-radius: 20px;
    border:1px solid black;
    padding: 0.75em;
}

#myInput:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#myInput:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }

.drops{
    margin-bottom: 1em;
}

#intro{
    margin-right: 2em;
    margin-left: 2em;
    background-color: #e0f4ff;
    margin-bottom: 1em;
    font-size:medium;
}

.inputs{
    margin-bottom: 1em;
}