h1 {
    text-align: center;
}
.search{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#myInput{
    width: 80%;
    border-radius: 1em;
}

li > .container{
    color: black;
}

  